.top-bar {
    background-color: white;
    padding: 25px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.top-logo {
    height: 90px;
    width: auto;
    margin-left: 10px;
}

.register-box {
    max-width: 600px;
    margin: 60px auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    background-color: #f9f9f9;
}

.form-control {
    border-radius: 8px;
}

.btn-register {
    background-color: #28a745;
    color: white;
    font-weight: bold;
    border-radius: 8px;
}
